<h2 class="text-3xl font-bold  mt-5">Production Companies</h2>

<div class="mt-5">
  <ol class="ml-10 list-decimal list-outside">
    <% @production_companies.each do |production_company| %>
      <li><%= link_to production_company.name, production_company %></li>
    <% end %>
  </ol>
</div>
