<% content_for(:title) { "Production Companies" } %>

<h2 class="text-3xl font-bold  mt-5">Production Companies</h2>

<div class="mt-5">
  <ol class="ml-10 list-decimal list-outside">
    <%= render @production_companies %>
  </ol>
</div>
