
<div class="mt-5 ml-5 columns-2 bg-teal-200">
  <h2 class="text-3xl font-bold">Top 10 Movies</h2>
  <ol class="ml-10 mt-5 list-decimal list-outside">
    <% @movies.each do |movie| %>
      <li><%= link_to movie.title, movie %></li>
    <% end %>
  </ol>
  <h2 class="text-3xl font-bold mt-5">Top 10 Production Companies</h2>
  <ol class="ml-10 mt-5 list-decimal list-outside">
    <%= render @production_companies %>
  </ol>
</div>
